<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
Angular- AngularJS Hybrid Appliction
  </h1>
</div>

<h3>Ng2 Links</h3>
<ul>
  <li>
    <a routerLink="ng2/welcome">welcome</a>
  </li>
  <li>
    <a routerLink="ng2/simple">simple</a>
  </li>
</ul>

<h3>Ng1 Links</h3>
<ul>
  <li>
    <a href="#/home">Home</a>
  </li>
  <li>
    <a href="#/customers">customers</a>
  </li>
</ul>
<h3>Open Url programmatically </h3>

<ul>
  <li>
    <button (click)="open('/ng2/welcome')"> Ng2 Welcome</button>
  </li>
  <li>
    <button (click)="open('/home')"> Ng1 Home</button>
  </li>
</ul>

<div style="border:1px solid black">

<router-outlet></router-outlet>
<div class="container" ng-view></div>

</div>
